<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../build/css/main.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>

<body>
    <div class="main-content wrapper">
        <header class="landing_page_header_collection">
            <img class="headerImage" src="../images/collectionheader.png" id="collectionHeaderImage" />
            <img class="headerImage" src="../images/collectionheaderMobile.png" id="collectionHeaderImageMobile" />
            <div id="vue-routing">
                <nav class="landing_page_nav_collection">
                    <a :href="homeLink">
                        <img src="../images/logo.png" alt="logo" id="collectionLogo" /> </a>
                    <div class="nav-wrapper">
                        <a href="#">
                            <span>
                                <i class="fas fa-user"></i> Login
                            </span>
                        </a>
                        <a href="#">
                            <span>
                                <i class="fas fa-shopping-bag"></i> x items </span>
                        </a>
                        <span class="burgerContainer">
                            <input class="burger-check" id="burger-check" type="checkbox">
                            <label for="burger-check" class="burger"></label>
                            <nav id="navigation1" class="navigation">
                                <ul>
                                    <li>
                                        <a :href="homeLink">Home</a>
                                    </li>
                                    <li>
                                        <a :href="productLink">Product</a>
                                    </li>
                                    <li>
                                        <a :href="collectionLink">Collection</a>
                                    </li>
                                    <li>
                                        <a :href="contactLink">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                    </div>

                    </span>

            </div>
            </nav>
            <button> BROWSE COLLECTION </button>
        </header>
        <div class="filterable_relative">
            <div class="filterable">
                    <a href="#">
                        <p class="filterable_options">New collection (1-12 of 58) </p>
                        <p class="filterable_options">SORT BY
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <p class="filterable_options">FEATURES
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <p class="filterable_options">SIZE
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <p class="filterable_options">COLOUR
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <p class="filterable_options">PRICE
                            <i class="fas fa-caret-down"></i>
                        </p>
                    </a>
                </div>
            </div>
            <div class="filterableMobileWrapper">
                    <div class="filterableMobile">
                        <p class="filterableMobileElements">
                            SORT BY
                            <i class="fas fa-caret-down"></i>
                        </p>
                        <p class="filterableMobileElements">
                            FILTER
                        </p>
                    </div>
                </div>

                <section class="landing" id="product-loop">
                    <div v-for="product in products" class="section_3_images">
                        <a href="#">
                            <img :src="'../images/' + product.image_url" :alt="product.title" />
                            <p> {{ product.title }} </p>
                            <span>
                                <p> {{ product.price }}</p>
                                <button>
                                    <i class="fas fa-shopping-bag"></i> Add to bag
                                </button>
                            </span>
                        </a>
                    </div>
                </section>

            <section class="landing" id="product-loop1">
                <div v-for="product in products" class="section_3_images">
                    <a href="#">
                        <img :src="'../images/' + product.image_url" :alt="product.title" />
                        <p> {{ product.title }} </p>
                        <span>
                            <p> {{ product.price }}</p>
                            <button>
                                <i class="fas fa-shopping-bag"></i> Add to bag
                            </button>
                        </span>
                    </a>
                </div>
            </section>

            <section class="landing" id="product-loop2">
                <div v-for="product in products" class="section_3_images">
                    <a href="#">
                        <img :src="'../images/' + product.image_url" :alt="product.title" />
                        <p> {{ product.title }} </p>
                        <span>
                            <p> {{ product.price }}</p>
                            <button>
                                <i class="fas fa-shopping-bag"></i> Add to bag
                            </button>
                        </span>
                    </a>
                </div>
            </section>
                <div class="section_3_page_counter">
                        <p class="page_count_items">1</p>
                        <p class="page_count_items">2</p>
                        <p class="page_count_items">3</p>
                        <p class="page_count_items">4</p>
                        <p class="page_count_items">5</p>
                    </div>


        <!-- SUBSCRIBE SECTION  -->

        <section class="subscribe_section">
            <form action="#">
                <input type="text" name="email" placeholder="YOUR EMAIL">
            </form>
            <button>
                SUBSCRIBE TO OUR NEWSLETTER
            </button>
        </section>

        <!-- SOCIAL MEDIA  -->

        <section class="section_4">
            <span>
                <div class="line"></div>
                <h1> GET US ON</h1>
                <div class="line"></div>
            </span>

            <div class="section_4_social_media_wrapper">
                <span>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-pinterest"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </a>
                </span>
                <span>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-google-plus-g"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div class="section_4_social_media">
                            <i class="fab fa-tumblr"></i>
                        </div>
                    </a>
                </span>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__inner">
                <div class="footer__items">
                    <a href="#">
                        <h1> QUESTIONS?</h1>
                        <h3> Help </h3>
                        <h3> Track Order </h3>
                        <h3> Returns </h3>
                    </a>
                </div>
                <div class="footer__items">
                    <a href="#">
                        <h1> WHERE TO BUY</h1>
                        <h3> Store locator </h3>
                        <h3> Wishlist </h3>
                        <h3> Gift Cards </h3>
                    </a>
                </div>
                <div class="footer__items">
                    <a href="#">
                        <h1> ABOUT US</h1>
                        <h3> Our story </h3>
                        <h3> Careers </h3>
                        <h3> Affiliates </h3>
                    </a>
                </div>
                <div class="footer__items">
                    <span id="footer__creditcard">
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-cc-paypal"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-cc-amex"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-cc-visa"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-cc-mastercard"></i>
                        </a>
                    </span>
                </div>
                <div class="footer__items">
                    <span>
                        <img src="../images/logo.png" alt="logo">
                        <h3> Ecommerce PSD theme </h3>
                    </span>
                </div>
            </div>
        </footer>

        <script>
            new Vue({
                el: '#vue-routing',
                data: {
                    homeLink: 'index.html',
                    productLink: 'product.html',
                    collectionLink: 'collection.html',
                    contactLink: 'contact.html'
                }
            });
        </script>

        <script>
            const app = new Vue({
                el: '#product-loop',
                data: {
                    products: []
                },
                created() {
                    fetch('https://api.myjson.com/bins/h62ix')
                        .then(response => response.json())
                        .then(json => {
                            this.products = json.products
                        })
                }
            })
        </script>

<script>
        const app1 = new Vue({
            el: '#product-loop1',
            data: {
                products: []
            },
            created() {
                fetch('https://api.myjson.com/bins/h62ix')
                    .then(response => response.json())
                    .then(json => {
                        this.products = json.products
                    })
            }
        })
    </script>

<script>
        const app2 = new Vue({
            el: '#product-loop2',
            data: {
                products: []
            },
            created() {
                fetch('https://api.myjson.com/bins/h62ix')
                    .then(response => response.json())
                    .then(json => {
                        this.products = json.products
                    })
            }
        })
    </script>

    </div>
</body>

</html>