@import "variables";
@import "mixins";

footer {
    background-color:$footerBackground;
    width:100%;
    height:40vh;

    .footer_wrapper {
        display: flex;
        flex-direction: row;
        margin: auto 10%;
    }

        .footer_items {
            display: flex;
            flex-direction: column;
        }
}