@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.landing_page_header {
    background-image:url(../images/HEADER.png);
    height:80vh;
    width: auto;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;

    a {
        text-decoration: none;
        color:$white;
    }
}



#mobile_burger {
    display:none;
}

.landing_page_nav {
    display: flex;
    flex-direction: row;

    img {
        position: absolute;
        top: 25px;
        left: 100px;
    }

    button {
        width: 350px;
        height: 55px;
        background: transparent;
        border: 2px solid $white;
        color: $white;
        position: absolute;
        right: 100px;
        bottom:65px;
        font-size: $headerTwo;
        transition: 0.3s ease-in-out;


        &:hover {
            background: $white;
            color: $black;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
}

.nav-wrapper {
    position: absolute;
    top: 35px;
    right: 100px;
    color: $white;

    svg {
        color: $white;
        margin: 0px 5px 0px 20px;

        }

    span {

        &:hover {
            font-weight:600;
    }
    
    }
}
