@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.headerImageMobile {
    display: none;
}
.landing_page_header {
    height: auto;
    width: 100%;
    position: relative;

    a {
        text-decoration: none;
        color:$white;
    }

}

.headerImage {
    height: auto;
    width:100%;
}


#mobile_burger {
    display:none;
}

.landing_page_nav {
    display: flex;
    flex-direction: row;

    img {
        position: absolute;
        top: 25px;
        left: 100px;
    }


}

.landing_page_nav button {
    width: 25%;
    height: 55px;
    background: transparent;
    border: 2px solid $white;
    color: $white;
    position: absolute;
    right: 8%;
    bottom:16%;
    font-size: $headerTwo;
    transition: 0.3s ease-in-out;

    &:hover {
        background-color:$black;
        color:$white;
    }
}

.nav-wrapper {
    position: absolute;
    top: 35px;
    right: 100px;
    color: $white;

    svg {
        color: $white;
        margin: 0px 5px 0px 20px;

        }

    span {

        &:hover {
            font-weight:600;
    }
    
    }
}
