@import "variables";
@import "mixins";

.section_4 {

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;
        padding-top:40px;
    
        h1 {
            margin: 0 10px;
            font-size:1.15em;
        }

        .line {
            height:1px;
            width:100px;
            background-color: $black;
            margin: auto 0;
        }
    }
}
    .section_4_fullwidth_image {
        background-image: url(../images/fullWidth.png);
        background-size:cover;
        width:100%;
        height: 55vh;
        margin-top: 100px;
    }

    .section_4_person_section {
        background-color:$mainColor;
        width:100%;
        height: 60vh;

        .section_4_person_wrapper {
            width:50%;
            margin: 0 auto;
            display:flex;
            flex-direction: column;
        }
            .person {
                @include border-radius(500px);
                width:100px;
                height:100px;
                background-image: url(../images/person.png);
                background-position: center;
                background-repeat: no-repeat;
                border: 10px solid rgba($color: #e0e0e0, $alpha: 0.4);
                padding: 4px;
                margin: 75px auto 0px;
            }
            h2 {
                margin: 0;
                color:$white;
                font-size:$headerTwo;
                text-align: center;
                padding-top:20px;
            }

            p {
                color:$white;
                font-size:$paragraph;
                line-height:25px;
                text-align: center;
            }
    }

    .section_4_social_media_wrapper {
        display:flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
        margin: 0 auto 100px;

        .section_4_social_media {
            width: 80px;
            height:80px;
            @include border-radius(500px);
            background:transparent;
            display: flex;
            justify-content: center;
            border: 1px solid $socialMediaColor;

            svg {
                margin: auto;
                text-align: center;
                font-size:$headerOne;
                color:$socialMediaColor;
                
            }
        }
    }

    .section_4_social_media_wrapper {
        width: 50%;
        justify-content: space-around;

        span {
            flex-direction: row;
            display:flex;
            justify-content: space-around;
            padding-top:0;
            margin-bottom: 20px;
            width: 60%;
        }
    }