@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

.landing {
    padding:0px !important; 

}

p {
    font-size:$paragraph;
}

.section_3_filterables_wrapper {
    width:85%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom:50px;
}

.underline {
    position: absolute;
    height:2px;
    width: 30px;
    background-color:$black;
    bottom:5px;
    left:7.5%;
}
.section_3_desktop_filterable {
    display: flex;
    width:35%;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}
.section_3 {
    display: flex;
    flex-direction: row;
    width:85%;
    margin: 0 auto;
    justify-content: space-between;

    img {
        height: auto;
        width: 100%;
    }

    .section_3_images {
        width:45%;
        text-align: center;
        position: relative;


        a {
            text-decoration: none;
            color:$black;
        }
        .section_3_sale_box {
            position: absolute;
            top:0;
            left: 0;
            width:60px;
            height:30px;
            background-color:$mainColor; 
            color:$white;
            line-height:30px;
            text-align: center;
            transition: 0.3s ease-in-out;

        }

        p {
            font-size:$paragraph;
        }
        span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                width: 50%;
                height: 30px;
                background:transparent;
                font-size: $paragraph;
                color: $greyText;
                transition: 0.3s ease-in-out;


                &:hover {
                    background-color:$black;
                    color:$white;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
            }

                svg {
                    margin-right:5px;
                }

            p {
                margin: 0;
                line-height: 30px;
            }
        }
    }
}

.section_3_mobile_wrapper {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
    }

.section_3_mobile_wrapper:nth-child(2) {
    margin-top:0px;
}
