// Color variables
$white: #fff;
$black: #000;
$mainColor: #33d0de;
$greyText: #818181;
$greyBackground: #f6f6f6;
$footerBackground: #333333;
$socialMediaColor: #c5c5c4;
$footerText: #5e5e5e;

// Font variables
$headerOne: 1.5em;
$headerTwo: 1em;
$paragraph: 0.8em;
$latoFont: "font-family: 'Open Sans', sans-serif";
