* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.landing_page_header {
    background-image: url(../images/HEADER.png);
    width: 100%;
    max-width: 2000px;
    height:80vh;
    width: auto;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

.landing_page_nav {
    display: flex;
    flex-direction: row;

    img {
        position: absolute;
        top: 25px;
        left: 100px;
    }

    button {
        width: 350px;
        height: 55px;
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        position: absolute;
        right: 100px;
        bottom:65px;
        font-size: 16px;
        transition: 0.3s ease-in-out;


        &:hover {
            background: white;
            color: black;
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
}

.nav-wrapper {
    position: absolute;
    top: 25px;
    right: 100px;
    color:white;

    svg {
        color:white;
        margin: 0px 5px 0px 20px;
    }
}

.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:85%;
    margin: 75px auto 0;

    .section_1_box:nth-child(1) {
        background-image: url(../images/mensLookBook.jpg);
        cursor: pointer;
    }
    
    .section_1_box:nth-child(2) {
        border: 1px #dcdcdc solid;
    }

    .section_1_box:nth-child(3) {
        background-image: url(../images/womanLookBook.jpg);
        cursor: pointer;

    }

    .section_1_box {
        background-size: cover;
        position: relative;
        width: 32.5%;
        height: 350px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        min-width: 300px;

        button {
            width: 85%;
            height: 50px;
            background: transparent;
            border: 1px solid #000;
            color: #000;
            font-size: 16px;
            display: flex;
            margin: 10px auto 0px;
            justify-content: center;
            transition: 0.3s ease-in-out;

            &:hover {
                background: black;
                color: white;
                transition: 0.3s ease-in-out;
                cursor: pointer;
            }

        }

        h1 {
            text-align: center;
            margin-bottom:0px;
        }

        h2 {
            text-align: center;
            font-size: 13px;
            margin-top:0px;
            font-weight:100;
        }
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 500px;
            background-color: #33d0de;
            display: flex;
            margin: 30px auto 0px;

            svg {
                margin: auto;
                display: flex;
                color: #fff;
                font-size:20px;
            }
        }
    }
        .square {
            width: 70%;
            height: 33%;
            border: 2px solid #fff;
            margin: auto;
            align-items: center;
            display: flex;

            h1 {
                color:white;
                font-size: 25px;
                text-align: center;
                display: flex;
                margin: auto;
            }
        }
}

form {
    margin-bottom: 10px;
}        
    input {
        border: none;
        width:85%;  
        border-bottom: 0.5px solid rgb(0, 0, 0);
        color: #000;
        font-size: 16px;
        text-align: center;
        padding-bottom: 5px;
        margin: 50px auto 0px;
        display: flex;
        outline: none;
    }

.section_2_wrapper {
    width:85%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 80px;
        padding-top:40px;

    }

        .line {
            height:1px;
            width:100px;
            background-color:#000;
            margin: auto 0;
        }
}
.grey_background {
    background-color:#f6f6f6;
    width: 100%;
}
.section_2 {
    margin:70px 0px;

    h1 {
        text-align: center;
        font-size: 20px;
        margin: 0px 10px;
    }
}
   
    .section_2_logo_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding-bottom: 75px;

        .brandLogos {
            width: auto;
            height: 25px;
        }

    }

.section_2_poster_wrapper {
    display: flex;
    flex-direction: row;
    width:85%;
    height:70vh;
    margin: 100px auto 0px;
    justify-content: center;

    .section_2_left {
        width: 50%;
        height: 100%;
        background-image: url(../images/mustHave.png);
        background-size:cover;
        background-position: center;

    }

    .section_2_right {
        width: 50%;
        height: 100%;
        margin-left:5px;
    
        .section_2_images {
            background-image: url(../images/75off.png);
            height: 49.5%;
            background-size:cover;
            width:100%;
            margin-bottom: 5px;
            background-position: center;

        }

        .section_2_images1 {
            background-image: url(../images/Summer.png);
            height: 49.5%;
            background-size:cover;
            width:100%;
            background-position: center;
        }
    }

}
.section_3_image_wrapper {
    display: flex;
    flex-direction: row;
    width:85%;
    margin: 0 auto;
    justify-content: space-between;

    img {
        height: auto;
        width: 100%;
    }

    .section_3_images {
        width:20%;
        text-align: center;
        position: relative;

        .section_3_sale_box {
            position: absolute;
            top:0;
            left: 0;
            width:60px;
            height:30px;
            background-color:#33d0de; 
            color:white;
            line-height:30px;
            text-align: center;
        }

        p {
            font-size:14px;
        }
        span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                width: 50%;
                height: 30px;
                background:transparent;

                &:hover {
                    background-color:black;
                    color:white;
                    cursor: pointer;
                }
            }

            
                svg {
                    margin-right:5px;
                }

            p {
                margin: 0;
                line-height: 30px;
            }
        }
    }
}