@import "header";
@import "section_1";
@import "section_2";
@import "section_3";
@import "section_4";
@import "variables";
@import "mixins";
@import "footer";
@import "mobileLandingPage";
@import "collection";
@import "collectionMobile";



@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}